.header-section{
    text-align: center;
    font-family: 'Righteous', cursive;
    background-image: url("https://thumbs.gfycat.com/DampLegitimateArabianoryx-size_restricted.gif"); 
    background-repeat:no-repeat;
    background-size: 1400px;
    }