.skills-section{
text-align: center;
color:firebrick;
background-color: cadetblue;

}
.edu-section{
text-align: center;
background-color:blue;
table-layout: fixed;
}

.contact-section{
text-align: center;
}

.header-section{
text-align: center;
background-image: url("https://thumbs.gfycat.com/DampLegitimateArabianoryx-size_restricted.gif");
background-repeat:
}